<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>
    
</head>
<body>
    <h3>Write a new chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="Who are you?" type="text" name="from"><br><br>
        <textarea  id="" cols="30" rows="10" name="message">Write your message here:</textarea><br><br>
        <input placeholder="Add receiver" type="text" name="to"><br><br><br>
        <button >Create chat</button>
    </form>
</body>
</html>