<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page 1+1</h1>
     <h3> <%= "Pushpa".toUpperCase()+" "+(1+1) %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta quasi quisquam similique itaque a sint labore corporis reiciendis minima ducimus voluptatum molestiae neque adipisci obcaecati non, dolores, distinctio laudantium? </p>
    <button>Click me</button>
</body>
</html>